WCFClient/Service References/netTCPServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="netTcpBinding_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WCFService" />
      <xsd:import />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_Register_InputMessage">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="IService1_Register_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SendToOtherClients_InputMessage">
    <wsdl:part name="parameters" element="tns:SendToOtherClients" />
  </wsdl:message>
  <wsdl:message name="IService1_SendToOtherClients_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendToOtherClientsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetFileList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFileList" />
  </wsdl:message>
  <wsdl:message name="IService1_GetFileList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFileListResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetPic_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPic" />
  </wsdl:message>
  <wsdl:message name="IService1_GetPic_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPicResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ReceiveFile_InputMessage">
    <wsdl:part name="parameters" element="tns:ReceiveFile" />
  </wsdl:message>
  <wsdl:message name="IService1_ReceiveFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReceiveFileResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SendMessage_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:SendMessage" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateUserList_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserList" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="IService1">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Register">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Register" message="tns:IService1_Register_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/RegisterResponse" message="tns:IService1_Register_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="SendToOtherClients">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SendToOtherClients" message="tns:IService1_SendToOtherClients_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SendToOtherClientsResponse" message="tns:IService1_SendToOtherClients_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetFileList">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetFileList" message="tns:IService1_GetFileList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetFileListResponse" message="tns:IService1_GetFileList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetPic">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetPic" message="tns:IService1_GetPic_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetPicResponse" message="tns:IService1_GetPic_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="ReceiveFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ReceiveFile" message="tns:IService1_ReceiveFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ReceiveFileResponse" message="tns:IService1_ReceiveFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="SendMessage">
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SendMessage" message="tns:IService1_SendMessage_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="UpdateUserList">
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateUserList" message="tns:IService1_UpdateUserList_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="netTcpBinding" type="tns:IService1">
    <wsp:PolicyReference URI="#netTcpBinding_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Register">
      <soap12:operation soapAction="http://tempuri.org/IService1/Register" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendToOtherClients">
      <soap12:operation soapAction="http://tempuri.org/IService1/SendToOtherClients" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileList">
      <soap12:operation soapAction="http://tempuri.org/IService1/GetFileList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPic">
      <soap12:operation soapAction="http://tempuri.org/IService1/GetPic" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReceiveFile">
      <soap12:operation soapAction="http://tempuri.org/IService1/ReceiveFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMessage">
      <soap12:operation soapAction="http://tempuri.org/IService1/SendMessage" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserList">
      <soap12:operation soapAction="http://tempuri.org/IService1/UpdateUserList" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="netTcpBinding" binding="tns:netTcpBinding">
      <soap12:address location="net.tcp://10.201.41.88:8732//WCFService/Service1/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://10.201.41.88:8732//WCFService/Service1/</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>