UseWCF/Service References/netTCPServiceReference/WCFService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Person">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChatContent" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Person" nillable="true" type="tns:Person" />
  <xs:complexType name="ClientFile">
    <xs:sequence>
      <xs:element minOccurs="0" name="Buffer" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="BytesRead" type="xs:int" />
      <xs:element minOccurs="0" name="ClientName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="isFinsishFlag" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClientFile" nillable="true" type="tns:ClientFile" />
  <xs:complexType name="ServiceFile">
    <xs:sequence>
      <xs:element minOccurs="0" name="Buffer" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="BufferSize" type="xs:int" />
      <xs:element minOccurs="0" name="BytesRead" type="xs:int" />
      <xs:element minOccurs="0" name="FilePath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileSize" type="xs:long" />
      <xs:element minOccurs="0" name="isFirstTime" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceFile" nillable="true" type="tns:ServiceFile" />
</xs:schema>